<div class='row'>
  <div class="col-md-9"></div>
  <div class="col-md-3" style="float: right;">
    <button class="btn btn-primary mr-3" (click)="onAddProduct()">Add</button></div>
</div>
<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
  
    <div class='table-responsive'>
      <table class='table'
             *ngIf='products.length'>
        <thead>
          <tr>
            <th  (click)="sort('name', booleanValue)" title="Sort a-z or z-a">Product</th>
            <th>Type</th>
            <th>Price</th>
            <th>Active</th> 
            <th></th>          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products'>
            <td> <a [routerLink]="['/productdetails', product.id]" title="Edit Product">{{ product.name | lowercase }}</a></td>
            <td>{{ product.type }}</td>
            <td>{{ product.price | currency:'AUD':'symbol':'1.2-2'}}</td>
            <td>{{ product.active? 'yes': 'no' }}</td>
            <td><button class="btn btn-outline-primary btn-sm"
             (click)="deleteProduct(product.id, product.name)">
        Delete
      </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
<div *ngIf='successMessage'
     class='alert alert-success'>
  Info: {{ successMessage }}
</div>
